h1 {
    background-color: black;
    color:white;
}

img.Escudo {
    position: relative;
    top: -13px;
    width: 700px;
    height: 720px;
}

img.Mestalla {
    position: relative;
    top: -10px;
    left: 480px;
    width: 800px;
    height: 720px;
}

body {
    background-color:white;
}

div.plantilla {
    color:black;
    background-color: red;
    width: 1990px;
}

div.taquillas{
    background-color: yellow;
    width: 1990px;
}

div.contacto{
    background-color: red;
    width: 1990px;
}